*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  	outline: none;
}


html {
	min-width: 752px;
}

body{
	min-width: 752px;
	/* font-size:13px; */
	color:#eee;
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	background-color: #242424;
}

#page{
	padding-left: 16px;
	padding-right: 16px;

	/* box-sizing: border-box; */
	padding-top: 40px;
	margin: 0 auto;
	max-width: 1000px;
}

h1{
	/* font-family: Corbel,'Myriad Pro', Arial, Helvetica, sans-serif; */
	background:url('../img/heading.png') no-repeat center top;
	text-indent:-9999px;
	overflow:hidden;
	height:90px;
	cursor: hand;
}

#searchForm, #downloadForm {
	/* The search form. */
	background-color:#2c2c2c;
	padding:40px;
	margin:30px 0;
	position:relative;

	border-radius:5px;
}

#downloadForm p {
	margin-bottom: 15px;
	text-align: center;
	line-height: 1.5;
}

#ads {
	margin-top: 20px;
	width: 100%;
	/* height: 410px; */
	padding-top: 36px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px dashed #97cae6;
}

#seconds_timer {
	margin-top: 20px;
	font-size: 2.2rem;
}

#topic {
	font-size: 1.2rem;
	color: #BBB7DE;
	border-bottom:1px dotted #97cae6;
}

.logo{
	text-align: center;
}
.logo-icon{
	width: 250px;
}

fieldset{
	border:none;
}

#s{
	/* The search text box. */
	border:none;
	color:#fff;
	background: #585858 url("../img/search.svg") no-repeat 10px 50%;
	background-size: 18px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-family:Arial,Helvetica,sans-serif;
	/* font-size:15px;*/
	font-size: 1.1rem;
	height:35px;
	line-height:35px;
	outline:medium none;
	padding:0 0 0 38px;
	width:100%;
}

.search-line-field{
	display: flex;
}

#glass {
	float: left;
	color:#888888;
	margin-left: -513px;
	margin-top: 8px;
	font-size: 1.3em;
}

#clear {
	cursor: pointer;
	float: left;
	color:#888888;
	margin-top: 8px;
	margin-left: -30px;
	font-size: 1.3em;
}

/* The submit button */
#submitButton{
	/* background:url('../img/buttons.png') no-repeat; */
	width:83px;
	height:35px;
	margin-left:12px;
	/* text-indent:-9999px; */
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	cursor:pointer;

	font-size: 15px;
	font-weight: bold;
	font-family: "Consolas", Helvetica, sans-serif;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	background: #ec1d1d;
	flex-shrink: 0;
}

#submitButton:hover{
	/* background-position:left bottom; */
	background: #c72626;
}


.resultsDate {
	padding-left: 4px;
	color:  #6bcec5;
}
.tooOld {
	color: #ff686e !important;
	font-weight: bold;
	cursor: pointer;
}

/* The UL that contains the search type icons */
.icons{
	list-style:none;
	margin:10px 0 0 335px;
	height:19px;
	position:relative;
}

.icons li{
	background:url("../img/icons.png") no-repeat;
	float:left;
	height:19px;
	text-indent:-9999px;
	cursor:pointer;
	margin-right:5px;
}

/* Styling each icon */

li.web{ width:15px;}
li.web.active,
li.web:hover{ background-position:left bottom;}

li.images{ width:22px; background-position:-18px 0;}
li.images.active,
li.images:hover{ background-position:-18px bottom;}

li.news{ width:14px; background-position:-44px 0;}
li.news.active,
li.news:hover{ background-position:-44px bottom;}

li.videos{ width:17px; background-position:right 0;}
li.videos.active,
li.videos:hover{ background-position:right bottom;}

span.arrow{
	/* The little arrow that moves below the icons */
	
	width:11px;
	height:6px;
	margin:21px 0 0 5px;
	position:absolute;
	background:url('../img/arrow.png') no-repeat;
	left:0;
}


/* The Search tutorialzine.com / Search the Web radio buttons */


#searchInContainer{
	display: flex;
	margin-top:12px;
	/* width:310px; */
}
#optionsContainer{
	 margin-top: 12px;
	 margin-right: 100px;
	 float: right;
}


input:disabled+label {
	color: #8b8b8b;
}


label {
	color:#DDDDDD;
	cursor:pointer;
	/* font-size:11px; */
	font-size: 1.0rem;
	/*position:relative;
	right:-2px;
	top:-2px;*/
	margin-right:10px;
	margin-top: 2px;
	white-space:nowrap;
	/*float:left;*/
}

/* large font compensation hack */
label::before, label::after {
	margin-top: 2px !important;
}

input[type=radio]{
	cursor:pointer;
	/*float:left;*/
}


/* Styling the search results */
.pageContainer{
	/* Holds each page with search results. Has an inset bottom border. */
	border-bottom:1px solid #5e7481;
	margin-bottom:50px;
	
	/* Adding a dark bottom border with box shadow */
	
	-moz-box-shadow:0 1px 0 #798e9c;
	-webkit-box-shadow:0 1px 0 #798e9c;
	box-shadow:0 1px 0 #798e9c;
}


/* Web & news results */


.webResult{ /*text-shadow:1px 1px 0 #586a75;*/ margin-bottom: 25px; }
.webResult div.h2{
	background-color: #323232;
	opacity: 1.0;

	/* font-size:18px; */
	font-size: 1.2rem;
	font-weight:normal;
	padding:8px 20px;
	
	/* Applying CSS3 rounded corners */
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

}
.webResult.news div.h2 {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.webResult div.h2 b{ color:#fff; }
.webResult div.h2 a{ color:#eee;border:none;}

.webResult p {
	line-height: 1.5;
	padding: 15px 20px;
	font-size: large;
    font-weight: 400;
	background-color: #2c2c2c;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.webResult.notfound p, .webResult.news p {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	/* padding:0 0 40px; */
}
.webResult.notfound p {
	text-align: center;
}
.webResult.news p {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.webResult.announce p {
	line-height: 1.3;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	/* text-align: center; */
	background: #5C5B80;
	/* font-size: 16px; */
	font-size: 1.1rem;
	font-weight: normal;
	/* padding:0 0 40px; */
}

.webResult.announce i {
	font-size: 68px;
	display: block;
	float: left;
	margin-right: 14px;
	margin-top: 12px;
	color: #ffa5aa;
}

.webResult.help {
	display: none;
}
.webResult.help p {
	line-height: 1.3;
	border-radius: 16px;

	border: 1px dashed;
	/* text-align: center; */
	background: #263238;
	color: #a2a2a2;
	/* font-size: 16px; */
	font-size: 1.1rem;
	font-weight: normal;
	/* padding:0 0 40px; */
}

.webResult p b{ color:white;}

.tags > a, .desc > a { border-bottom:1px dotted #97cae6; }
.tags > a { margin-left:20px; white-space: nowrap; }
.tags {
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.7;
}

.desc {
	text-align: center;
	/* font-size: 15px; */
	font-size: 1.1rem;
	margin-bottom: 14px;
}

/* Image & video search results */


.imageResult{
	float:left;
	height:180px;
	margin:0 0 20px 40px;
	text-align:center;
	width:152px;
	overflow:hidden;
}
.imageResult img{ display:block;border:none;}
.imageResult a.pic{
	border:1px solid #fff;
	outline:1px solid #777;
	display:block;
	margin:0 auto 15px;
}

/* The show more button */

#more{
	width:83px;
	height:24px;
	background:url('../img/more.png') no-repeat;
	cursor:pointer;
	margin:40px auto;
}

#more:hover{
	background-position:left bottom;
}



/* Giving Credit */


p.credit{
	margin:20px 0;
	text-align:center;
}

/* p.credit a{
	background-color:#4B5A64;
	border:1px solid;
	border-color:#3D4D57 #788E9B #788E9B #3D4D57;
	color:#c0d0d8;
	font-size:10px;
	padding:4px 8px;
	text-shadow:1px 1px 0 #38464F;
}

p.credit a:hover{
	background-color:#38464f;
	border-color:#38464f #788E9B #788E9B #38464f;
}
*/



a, a:visited {
	text-decoration:none;
	outline:none;
	color: #dddddd;
}

a:hover{
	border-bottom:1px dotted #dddddd;
	/* border-bottom:1px dashed transparent; */
}

.clear{
	clear:both;
}

.webResultTitle {
	float: right;
	vertical-align: middle;
}

a.magneto {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-left: 5px;

	background: url("../img/magnet.svg") no-repeat 50% 40%;
	background-size: 66%;
}

a.grayed {
	background: url("../img/magnet-gray.png") no-repeat !important;
}


span.seeders {
	color: #93ff27;
}
span.leechers {
	margin-left: 3px;
}
span.torstat {
    /*display: inline-block;
	text-align: right;
	width: 120px;*/
}
span.magnet {
	width: 25px;
	display: inline-block;
}


span.size {
	margin-right: 10px;
	display: inline-block;
	/* width: 95px; */
	color: #c9db91;
	text-align: right;

}

span.date {
	/*font-size: 12px;*/
	display: inline-block;
	/* width: 94px; */
	color: #BBB7DE;
	margin-right: 10px;
	text-align: right;
}

span.files {
	/*font-size: 12px;*/
	display: inline-block;
	/* width: 94px; */
	margin-right: 10px;
	cursor: pointer;
	color: #ddd;
}
span.files:hover{
	color: #fff
}

img.trackerIcon {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 5px;
	padding-bottom: 2px;

}

/* State: Default */
#resultsDiv{
	transition: opacity .1s ease; /*quick unlock*/
}
.noform {
	margin-top: 30px;
}

/* State: Disabled */
#resultsDiv[disabled]{
	transition: opacity .4s ease-in .4s; /*smooth lock with opacity*/
	opacity: .4;
	pointer-events: none;
}

.footer {
	font-size: 12px;
	background-color:#2c2c2c;
	margin: 35px 0 0 0;
	padding: 12px 16px 10px 16px;
	border-radius:5px;
}


.tools {
	font-size: 11px;
	/* background-color:#37474F;*/
	margin: 0 0 8px 0;
	padding: 12px 16px 10px 16px;
	/* border-radius:16px; */
}


@-moz-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

#validateError {
	float: right;
	position: relative;
	margin-top: 6px;
	right: 102px;
	font-size: 14px;

	animation:1s blinker linear infinite;
	-webkit-animation:1s blinker linear infinite;
	-moz-animation:1s blinker linear infinite;

	color: #ff686e;
}

#donateButton {
	float: right;
	clear: both;
	position: relative;
    right: -32px;
	top: -15px;
	height: 0px;
}

.social {
	float: right;
	font-size: 22px;
	margin-right: 18px;
}
.social a {
	color: #6799cb !important;
	margin-left: 6px;
}

.lang {
	float: left;
	margin-left: 18px;
	white-space: nowrap;
}

.lang img {
	width: 26px;
	height: 26px;
	margin-right: 2px;
}


/* scroll to top */
#back-to-top {
	font-size: 42px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9999;
	width: 64px;
	height: 64px;
	text-align: center;
	line-height: 61px;
	background: #2c2c2c url(../img/up.svg) no-repeat 50% 50%;
	color: #444;
	cursor: pointer;
	border: 0;
	border-radius: 6px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
	background-size: 14px;
}
#back-to-top:hover {
	background-color: #3a3a3a;
}
#back-to-top.show {
	opacity: 1;
}

.widget-shop {
	border-radius: 16px !important;
}

/* spoilers */
.sp_title {
	display: table;
	margin-bottom: 4px;
	cursor: pointer;
    border-bottom: 1px dotted #97cae6;
	/* text-decoration: #97cae6 underline; */

}
.sp_content {
	display: block;
	padding: 8px 4px 14px 4px;
}

.msg{
	text-align: center;
	font-size: 18px;
	background-color: #2c2c2c;
	border-radius: 5px;
	padding: 30px;
	display: none
}

#filter{
	display: none
}

.filter-container{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 15px;
}
.filter-container > div{
	width: 33.3%;
	padding: 10px;
}

.filter-container > div.w4{
	width: 25%;
}
.filter-container > div.w1{
	width: 100%;
}
.filter-container > div.w2{
	width: 50%;
}

.filter-container select,
.filter-container input{
	border: 0;
    width: 100%;
    height: 30px;
    color: #fff;
    background: #585858;
    font-size: 16px;
    line-height: 30px;
    border-radius: 3px;
    padding: 0 10px;
}
.filter-container select{
	cursor: pointer
}

.filter-label{
	margin-bottom: 5px
}

.filter-button{
	width:100%;
	height:30px;
	/* text-indent:-9999px; */
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	cursor:pointer;

	font-size: 15px;
	font-weight: bold;
	font-family: "Consolas", Helvetica, sans-serif;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	background: #ec1d1d;
	flex-shrink: 0;
}

.filter-container > div:last-child{
	align-self: flex-end;
}
.webResult .info{
	background-color: #2c2c2c;
	font-size: 13px;
}

.webResult .info > div{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 5px;
}

.webResult .info > div > div{
	width: 50%;
	padding: 10px 20px;
}

.webResult .info > div span{
	display: block;
	margin-bottom: 5px;
	color: #747474;
}

.webResult .info > div.files{
	display: none;
	font-size: 16px;
}
.webResult .info > div.files.show{
	display: block;
}
.webResult .info > div.files > div{
	width: 100%;
}
.files-list > div + div{
	margin-top: 10px
}

img.trackerIco {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    padding-bottom: 2px;
}
